* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  overflow-y: hidden;
}

::-webkit-scrollbar {
  width: 7px;
  border-radius: 30px;
}

::-webkit-scrollbar-thumb {
  background: rgb(136, 158, 159);
}

::-webkit-scrollbar-thumb:hover {
  background-color: cadetblue;
}

::-webkit-scrollbar-thumb:active {
  background: rgb(82, 131, 158);
}

.App {
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  gap: 20px;
}

.header {
  background: linear-gradient(90deg, rgb(0, 115, 119), rgb(117, 200, 203), rgb(0, 115, 119));
  width: 100%;
  text-align: center;
  color: rgb(0, 0, 58);
}

.form-container>form {
  display: flex;
}

.form-container input[type=text] {
  width: 300px;
  height: 35px;
  border-radius: 4px;
  outline: none;
  padding-left: 5px;
  font-size: 18px;
  border: 2px solid cadetblue;
  text-transform: capitalize;
}

.form-container input[type=submit] {
  height: 35px;
  border-radius: 4px;
  outline: none;
  padding: 0 10px;
  font-size: 18px;
  margin-left: -10px;
  background: cadetblue;
  color: #fff;
  border: 2px solid cadetblue;
  cursor: pointer;
  transition: all 1s ease;
}

.form-container input[type=submit]:hover {
  background-color: rgb(36, 105, 107);
}

.form-container input[type=submit]:active {
  background-color: red;
}

.tasks-container {
  width: 320px;
  padding: 17px;
  border-top: 1px solid lightgray;
  max-height: 500px;
  overflow-y: scroll;
}

.list-items {
  display: flex;
  flex-direction: column;
  list-style-type: square;
  gap: 18px;
}

.list-items li {
  display: flex;
  justify-content: space-between;
  padding: 2px 5px;
}

.list-items li:nth-last-of-type(even) {
  background-color: rgba(211, 211, 211, 0.337);
}

.list-items span {
  font-size: 22px;
  text-transform: capitalize;
}

.actions {
  display: flex;
  align-items: center;
  gap: 20px;
}

.actions button {
  height: 20px;
  width: 20px;
  background-color: tomato;
  border: none;
  border-radius: 3px;
  color: #fff;
}

.task-done {
  text-decoration: line-through;
}